#content.single-issue 

  .issues__box__category 
    position: absolute
    top: -1%
    display: inline-block
    padding: 3px 10px
    background-color: $black
    font-family: $font-sans
    font-size: 12px
    color: $white
    text-transform: uppercase
    letter-spacing: 2px

#content.section

  padding-top: 0
  font-size: 20px
  font-family: $font-serif

  .single-article-copy 
    padding-right: 5%

    p 
      margin-bottom: 2em

  .article-title 
    font-size: 60px 
    line-height: 1.1
    margin-bottom: .75em
    

  .article-info 
    margin-bottom: 1.5em

    span 
      font-family: $font-sans
      font-size: 16px 
      color: #666
      letter-spacing: 1px
      

    .author-bio 
      display: inline-block
      letter-spacing: 0
      font-family: $font-serif 
      font-size: 20px
      font-style: italic
      color: #666
      margin-bottom: 1.5em

      a 
        color: #666
        text-decoration: underline

    .issue-tags 
      display: inline-block
      margin-bottom: 1.5em

  #issue-description 

    width: 695px
    position: relative
    margin-bottom: 3em

    h3 
      width: 80%
      position: absolute
      left: 70px
      top: 70px
      color: #fff
      font-family: $font-sans
      font-size: 36px

    p 
      width: 80%
      position: absolute
      left: 70px
      top: 140px
      color: #fff
      font-size: 16px

    span 
      display: inline-block

  #related-articles 

    width: 695px 

    h2 
      font-family: $font-sans

    ul 
      list-style: none
      margin-left: 0
      padding-left: 0

      li 
        display: flex
        width: 100%
        height: 191px
        margin: 0 0 3em 0
        padding-left: 0
        background-color: #fff

        .article-thumb 
          width: 30%
          height: 191px
          flex-basis: 212px
          -webkit-box-flex: 9999;
          flex-grow: 9999;

          img 
            width: 100% 
            height: 100%
            object-fit: cover

        .related-article-info
          position: relative
          flex-basis: 70%
          color: $black
          padding: 5%

        .related-article-category 
          display: inline-block
          padding: 3px 10px
          margin-bottom: 1.5em
          background-color: #202020
          font-family: neusa-next-std,sans-serif
          font-size: 12px
          color: #fff
          text-transform: uppercase
          letter-spacing: 2px


  #why-this-matters 
    margin-top: 2em
    margin-bottom: 2em
    padding: 40px 
    border: 10px solid $yellow
    border-radius: 20px

    h6 
      font-family: $font-sans
      font-size: 14px
      font-weight: normal
      text-transform: uppercase
      margin-bottom: 10px

    p 
      font-size: 28px
      font-family: $font-sans
      font-weight: bold
      margin-bottom: 0
      line-height: 1.3

  .grid-x 
    position: relative

    #related 
      ul 
        padding-left: 1.5em

  .sidebar-container

    padding-top: 600px

    #sidebar-related 

      width: 100%
      position: relative 

      &:before 
        content: url(/wp-content/themes/global-sport/assets/images/recommended.png)
        position: absolute
        top: -25%
        left: 5%
        width: 36px 
        height: 148px

      ul 
  
        list-style: none 

        li 
          padding: 40px 0
          border-bottom: 1px solid #cccccc

          &:first-child 
            border-top: 1px solid #cccccc

          h3 
            color: $black 
            font-family: $font-sans

            a 
              color: $black
