.tax-monthly-issues 
  background-color: #202020
  
  .headline__container 
    position: relative

    .monthly-issues-arrow 
      width: 107px 
      height: 79px 
      position: absolute 
      top: -5% 
      left: 50% 
      transform: translateX(-50%) 
      background-image: url(/wp-content/themes/global-sport/assets/images/monthly-issue-arrow.png) 
      background-repeat: no-repeat
      background-size: contain
