.gsm-button
  &:active,
  &:visited,
  &:focus,
  &:link 
    width: 285px
    display: inline-block
    padding: 25px 0
    margin-top: 4em
    background: #ffc627
    color: $black
    font-family: 'neusa-next-std',sans-serif
    font-size: 14px
    font-weight: 700
    text-align: center
    letter-spacing: 2px
    text-decoration: none
    text-transform: uppercase
    outline: 0

blockquote 
  border-left: 10px solid $yellow

  p 
    padding-left: 5%  
    padding-right: 15%
    color: $black
    font-size: 36px
    font-family: $font-sans
    font-weight: 700