::-webkit-scrollbar
  display: none
  
body 
  background-color: #f2f2f2
  font-family: $font-serif
  
.section 
  padding: 150px 0

.grid-container 
  &.full 
    padding-left: 10%
    padding-right: 10%

  &.grid-container-inner 
    padding-left: 0
    padding-right: 0

a,
a:hover
  color: $white
  cursor: pointer
  text-decoration: none
  transition: color 0.3s ease-out-cubic