h1, h2, h3, h4, h5, h6
  line-height: 1.1
  font-weight: 700

h1
  font-size: responsive 22px 36px
  font-range: 420px 1600px
  font-weight: 700
  color: $black
  line-height: 1.5

h2
  font-size: responsive 20px 32px
  font-range: 420px 1600px
  font-weight: 700

h3 
  font-size: 24px
  line-height: 1.5

p
  margin-bottom: 1.5rem
  color: inherit
  line-height: 1.5

ul
  margin-bottom: 0

  &:first-child
    margin-top: 0

li
  margin-top: 0.5rem
  color: inherit
  font-size: 15px
  font-weight: 400
  letter-spacing: 0.01em
  line-height: 1.5
  
  &:hover
    color: black

strong
  color: inherit

hr
  height: 2px
  margin: 2rem 0
  background: $light-gray
  margin-left: auto 
  margin-right: auto
  outline: none
  border: none
