#callout.issues-archive 
  .callout 

    padding-left: 15%
    padding-right: 15%
    background-color: transparent

    p 
      font-size: 45px 
      font-family: $font-serif
      color: #fff
      