#connect 
  padding-top: 0
  padding-left: 15%
  padding-right: 15%

  h2 
    font-family: neusa-next-std,sans-serif
    font-size: 48px
    margin-bottom: 24px

  p 
    margin-bottom: 3em
    line-height: 2

  a 
    color: $black

  .contact-info
    line-height: 2