#featured-issue.gsm-home
  width: 100%
  overflow-y: hidden
  background-image: url(../assets/images/featured-issue-bg.jpg)
  background-repeat: no-repeat
  background-size: cover 
  background-position: center center

  .scroller 
    display: none
    position: absolute
    top: 0 
    left: 0
    width: 100% 
    height: 2000px
    padding-left: 0
    padding-right: 0
    overflow-y: scroll

    .featured__right 
      //display: none

  .featured__left 

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%

    .issues-title 
      color: $white
      font-family: $font-sans
      font-size: 90px
      text-transform: capitalize
      margin-bottom: 60px

    .issues-content 
      a
        color: #fff
        font-size: 25px

    .issues-cta 
      width: 285px
      display: flex
      align-items: center 
      justify-content: center
      padding: 25px 0
      margin-top: 4em
      background: $yellow
      color: $black
      font-family: $font-sans
      font-size: 14px
      font-weight: bold
      letter-spacing: 2px
      text-decoration: none
      text-transform: uppercase
      
  .featured__right 
    height: 1000px
    overflow: scroll
    padding: 0 0 0 5%

    a 
      display: block
      height: 75%
      margin-bottom: 70px

    .issues_box 
      height: 100%
      position: relative
      overflow: hidden

      .issues_box_inner 
        width: 100%
        height: 50%
        position: absolute
        left: 50%
        bottom: 0 
        padding: 0 10%
        transform: translateX(-50%)
        background-color: #fff

      .issues__box__image 
        height: 100%
        //padding-top: 125%
        //background-repeat: no-repeat
        //background-size: contain

        img 
          object-fit: cover
          object-position: unset
          display: block
          width: 100%
          height: 50%

      .issues__box__title
        color: $black
        padding: 50px 0

      .issues__box__category 
        position: absolute
        display: inline-block
        padding: 5px 10px
        background-color: $black
        font-family: $font-sans
        font-size: 12px
        color: #fff
        transform: translateY(-50%)
        text-transform: uppercase
        letter-spacing: 2px

      .issues__box__content 
        color: #fff
        box-orient: vertical
        -webkit-box-orient: vertical
        display: -webkit-box
        -webkit-line-clamp: 2
        font-size: 24px
        color: #005b96
        margin-bottom: 15px
        max-height: 80px
        overflow: hidden

#featured-issue.issues-archive
  .grid-container 
    padding-left: 10%
    padding-right: 10%

    .issues-title 
      color: $white
      font-family: $font-sans
      font-size: 90px
      text-transform: capitalize
      margin-bottom: 60px

    .issues-content 
      color: #fff
      font-size: 20px

    .issues-cta 
      width: 285px
      display: flex
      align-items: center 
      justify-content: center
      padding: 25px 0
      margin-top: 4em
      background: $yellow
      color: $black
      font-family: $font-sans
      font-size: 14px
      font-weight: bold
      letter-spacing: 2px
      text-decoration: none
      text-transform: uppercase

    .issues_box
      position: relative
      overflow: hidden

      .issues__box__image 
        width: 100%

      .issues__box__title
        position: absolute 
        left: 5% 
        bottom: 10%
        color: $white
        padding: 0
        font-size: 48px
        font-family: neusa-next-std,sans-serif;

      .issues__box__category 
        position: absolute
        left: 5%
        bottom: 20%
        display: inline-block
        padding: 5px 10px
        background-color: $black
        font-family: $font-sans
        font-size: 12px
        color: #fff
        transform: translateY(-50%)
        text-transform: uppercase
        letter-spacing: 2px

#featured-issue.gsm-about

  padding-top: 0

  .grid-container 
    padding-left: 10%
    padding-right: 10%

    .issues-title 
      color: $white
      font-family: $font-sans
      font-size: 90px
      text-transform: capitalize
      margin-bottom: 60px

    .issues-content 
      color: #fff
      font-size: 20px

    .issues-cta 
      width: 285px
      display: flex
      align-items: center 
      justify-content: center
      padding: 25px 0
      margin-top: 4em
      background: $yellow
      color: $black
      font-family: $font-sans
      font-size: 14px
      font-weight: bold
      letter-spacing: 2px
      text-decoration: none
      text-transform: uppercase

    .issues_box
      position: relative
      overflow: hidden

      .issues__box__image 
        width: 100%

      .issues__box__title
        position: absolute 
        left: 5% 
        bottom: 10%
        color: $white
        padding: 0
        font-size: 48px
        font-family: neusa-next-std,sans-serif;

      .issues__box__category 
        position: absolute
        left: 5%
        bottom: 20%
        display: inline-block
        padding: 5px 10px
        background-color: $black
        font-family: $font-sans
        font-size: 12px
        color: #fff
        transform: translateY(-50%)
        text-transform: uppercase
        letter-spacing: 2px



