#gregueria-quote 
  
  padding: 150px 0
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

  .definition 
    display: inline-block
    background-color: $black
    padding: 8px 15px
    color: $white
    font-size: 12px
    font-family: 'Open Sans', sans-serif
    font-weight: bold
    margin-bottom: 36px

  .quote 
    font-family: $font-sans
    font-size: 36px
    font-weight: bold
    margin-bottom: 0