#headline.gsm-home
  position: relative
  background-color: #f2f2f2
  padding-top: 50px 
  padding-bottom: 50px

  .this__month 
    width: 48px
    height: 152px
    position: absolute
    bottom: -3%
    left: 12%
    background-image: url(/wp-content/themes/global-sport/assets/images/this-month.png)
    background-repeat: no repeat


  .headline__container 
    padding-left: 2.5%

    h1 
      font-family: $font-sans
      font-size: 5vw
      font-weight: bold

    h3 
      font-family: $font-serif
      font-size: 1vw 
      font-weight: normal

#headline.issues-archive
  background-color: #202020
  position: relative
  padding-top: 50px 
  padding-bottom: 50px

  .headline__container 
    padding-left: 2.5%

    h1 
      font-family: $font-sans
      font-size: 5vw
      font-weight: bold
      color: $white

    h3 
      padding: 0 20%
      font-family: $font-serif
      font-size: 1vw 
      font-weight: normal
      color: $white
      line-height: 1.5

#headline.gsm-about

  position: relative
  padding-top: 50px 
  padding-bottom: 50px

  .headline__container 

    h1 
      font-family: $font-sans
      font-size: 5vw
      font-weight: bold
      color: $black
      margin: 0

