#listen-gsm 
  .section-title 
    color: $black
    font-family: $font-sans
    font-size: 90px
    text-transform: capitalize
    margin-bottom: 70px

  .listen_box
    position: relative
    overflow: hidden
    padding-bottom: 75%

    .listen_box_inner 
      width: 100%
      position: absolute
      left: 50%
      bottom: 0 
      background-color: $white
      padding: 0 5%
      transform: translateX(-50%)

    .listen__box__image 
      padding-top: 75%
      background-repeat: no-repeat
      background-size: cover

    .listen__box__title
      font-size: 1.75vw
      color: $white
      padding: 50px 0 100px

    .listen__box__category 
      position: absolute
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

    .listen__box__content 
      color: #fff
      box-orient: vertical
      -webkit-box-orient: vertical
      display: -webkit-box
      -webkit-line-clamp: 2
      font-size: 24px
      color: #005b96
      margin-bottom: 15px
      max-height: 80px
      overflow: hidden

  .grid-container,
  .grid-x 
    height: 100%

  .listen_box 
    background-color: #fff
    height: 100%

    .listen__box__title 
      position: absolute
      color: $black
      padding: 50px 5%

    .listen__box__category 
      left: 5%

    .listen_box_inner 
      background-color: #fff
