#post-grid.gsm-home

  height: 1000px
  padding: 0 0 150px 0

  .grid-container,
  .grid-x,
  .cell 
    height: 100%

  .culture_box
    height: 100%
    position: relative
    overflow: hidden

    .culture_box_inner 
      width: 100%
      position: absolute
      left: 50%
      bottom: 0 
      padding: 0 5%
      transform: translateX(-50%)

    .culture__box__image 
      height: 100%

      img 
        object-fit: cover
        object-position: unset
        display: block
        width: 100%
        height: 100%

    .culture__box__title
      font-size: 2.5vw
      color: $white
      padding: 30px 0 50px
      text-align: left

    .culture__box__category 
      position: absolute
      left: 5%
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

    .culture__box__content 
      color: #fff
      box-orient: vertical
      -webkit-box-orient: vertical
      display: -webkit-box
      -webkit-line-clamp: 2
      font-size: 24px
      color: #005b96
      margin-bottom: 15px
      max-height: 80px
      overflow: hidden

  .copy 
    p 
      color: $white
      font-size: 20px
      margin-bottom: 50px

  .post__links 
    ul 
      list-style: none
      margin-left: 4.5em

      li 
        position: relative
        margin-bottom: 0
        font-family: $font-sans
        font-weight: 500
        font-size: 22px
        color: $black
        line-height: 1.3
        transition: .3s all ease-in-out
        padding: 40px 0

        &.youth
          &:before 
            width: 91px 
            height: 90px
            content: url(../assets/images/youth.png)
            position: absolute
            font-family: dashicons 
            border-radius: 100%
            font-size: 24px 
            color $white
            top: 50%
            transform: translateY(-50%)
            left: -4.5em
            line-height: 1

        &.health
          &:before 
            width: 91px 
            height: 90px
            content: url(../assets/images/health.png)
            position: absolute
            font-family: dashicons 
            border-radius: 100%
            font-size: 24px 
            color $white
            top: 50%
            transform: translateY(-50%)
            left: -4.5em
            line-height: 1

        &.business
          &:before 
            width: 91px 
            height: 90px
            content: url(../assets/images/business.png)
            position: absolute
            font-family: dashicons 
            border-radius: 100%
            font-size: 24px 
            color $white
            top: 50%
            transform: translateY(-50%)
            left: -4.5em
            line-height: 1

        a 
          color: $black
          text-decoration: none

#post-grid.issues-archive 
  
  .cell
    height: 750px

  ul 
    list-style: none
    margin-left: 0

    li 
      min-height: 750px
      margin-bottom: 70px

  .box
    position: relative
    overflow: hidden
    background-color: #fff
    height: 100%

    .link 
      display: block 
      text-decoration: none
      color: $black

    .box_inner 
      width: 100%
      height: 50%
      position: absolute
      left: 50%
      bottom: 0
      padding: 0 10%
      transform: translateX(-50%)
      background-color: #fff

    .box__image 
      height: 100%

      img 
        object-fit: cover
        object-position: unset
        display: block
        width: 100%
        height: 50%

    .box__title
      font-family: neusa-next-std,sans-serif;
      color: $black
      padding: 50px 0 20px 0

    .box__category 
      position: absolute
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

    .issues-content 
      color: $black

#post-grid-3-col.issues-archive 

  height: 1000px

  .grid-container,
  .grid-x,
  .cell
    height: 100%

  ul 
    list-style: none
    margin-left: 0

  .box
    position: relative
    overflow: hidden
    background-color: #fff
    height: 100%

    .link 
      display: block 
      text-decoration: none
      color: $black

    .box_inner 
      width: 100%
      height: 50%
      position: absolute
      left: 50%
      bottom: 0
      padding: 0 10%
      transform: translateX(-50%)
      background-color: #fff

    .box__image 
      height: 100%

      img 
        object-fit: cover
        object-position: unset
        display: block
        width: 100%
        height: 50%

    .box__title
      font-family: neusa-next-std,sans-serif;
      color: $black
      padding: 50px 0 20px 0

    .box__category 
      position: absolute
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

#post-grid-list-right.issues-archive

  height: 1000px

  .grid-container,
  .grid-x,
  .cell
    height: 100%

  .culture_box
    height: 100%
    position: relative
    overflow: hidden

    .culture_box_inner 
      width: 100%
      position: absolute
      left: 50%
      bottom: 0 
      padding: 0 5%
      transform: translateX(-50%)

    .culture__box__image 
      height: 100%

      img 
        object-fit: cover
        object-position: unset
        display: block
        width: 100%
        height: 100%
        

    .culture__box__title
      font-size: 2.5vw
      color: $white
      padding: 30px 0 50px
      text-align: left

    .culture__box__category 
      position: absolute
      left: 5%
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

  .copy 

    p 
      color: $white
      font-size: 20px
      margin-bottom: 50px

  .post__links 

    ul 
      list-style: none
      margin-left: 4.5em

      li 
        position: relative
        margin-bottom: 0
        font-family: $font-sans
        font-weight: 500
        font-size: 22px
        color: $black
        line-height: 1.3
        transition: .3s all ease-in-out
        padding: 40px 0

        h6 
          color: #ffffff 
          font-size: 14px 
          font-family: $font-sans
          text-transform: uppercase

        a 
          color: $white
          text-decoration: none
          font-weight: 700


        &.culture
          &:before 
            width: 91px 
            height: 90px
            content: url(../assets/images/olympics-icon1.png)
            position: absolute
            font-family: dashicons 
            border-radius: 100%
            font-size: 24px 
            color $white
            top: 50%
            transform: translateY(-50%)
            left: -4.5em
            line-height: 1

        &.science
          &:before 
            width: 91px 
            height: 90px
            content: url(../assets/images/olympics-icon2.png)
            position: absolute
            font-family: dashicons 
            border-radius: 100%
            font-size: 24px 
            color $white
            top: 50%
            transform: translateY(-50%)
            left: -4.5em
            line-height: 1

        &.opinion
          &:before 
            width: 91px 
            height: 90px
            content: url(../assets/images/olympics-icon3.png)
            position: absolute
            font-family: dashicons 
            border-radius: 100%
            font-size: 24px 
            color $white
            top: 50%
            transform: translateY(-50%)
            left: -4.5em
            line-height: 1

        
