#post-quotebox.gsm-home

  padding-top: 0

  .quotebox__container
    display: flex 
    justify-content: flex-end

  .quotebox 
    width: 18vw
    height: 14vw
    position: relative
    background-image: url(../assets/images/quotebox.png)
    background-repeat: no-repeat
    background-size: contain
    font-family: $font-sans 
    font-weight: bold
    font-size: 1.2vw
    line-height: 1.3

    .quote 
      width: 60%
      position: absolute
      top: 50% 
      left: 50% 
      transform: translate(-35%, -50%)

  .health_box
    position: relative
    overflow: hidden

    .health_box_inner 
      width: 100%
      position: absolute
      left: 50%
      bottom: 0 
      padding: 0 5%
      transform: translateX(-50%)

    .health__box__image 
      padding-top: 50%
      background-repeat: no-repeat
      background-size: cover

    .health__box__title
      font-size: 2.5vw
      color: $white
      padding: 30px 0 50px
      text-align: left
      padding-left: 5%

    .health__box__category 
      position: absolute
      left: 5%
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

    .health__box__content 
      color: #fff
      box-orient: vertical
      -webkit-box-orient: vertical
      display: -webkit-box
      -webkit-line-clamp: 2
      font-size: 24px
      color: #005b96
      margin-bottom: 15px
      max-height: 80px
      overflow: hidden

#post-quotebox-right.issues-archive

  height: 1000px
  padding-top: 0

  .grid-container,
  .grid-x,
  .cell
    height: 100%

  .quotebox__container
    display: flex 
    justify-content: flex-end

  .quotebox 
    width: 18vw
    height: 14vw
    position: relative
    background-image: url(../assets/images/quotebox.png)
    background-repeat: no-repeat
    background-size: contain
    font-family: $font-sans 
    font-weight: bold
    font-size: 1.2vw
    line-height: 1.3
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    .quote 
      width: 60%
      position: absolute
      top: 50% 
      left: 50% 
      transform: 
      color: $white
      -moz-transform: translate(-50%, -50%) scaleX(-1)
      -o-transform: translate(-50%, -50%) scaleX(-1)
      -webkit-transform: translate(-50%, -50%) scaleX(-1)
      transform: translate(-50%, -50%) scaleX(-1)
      filter: FlipH
      -ms-filter: "FlipH"

  .insights_box
    position: relative
    overflow: hidden
    background-color: #fff
    height: 100%

    .insights_box_inner 
      width: 100%;
      height: 50%;
      position: absolute;
      left: 50%;
      bottom: 0;
      padding: 0 5%;
      transform: translateX(-50%);
      background-color: #fff;

    .insights__box__image 
      height: 100%

      img 
        object-fit: cover
        object-position: unset
        display: block
        width: 100%
        height: 50%

    .insights__box__title
      color: #202020;
      padding: 50px 0;


    .insights__box__category 
      position: absolute
      left: 5%
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

    .insights__box__content 
      color: #fff
      box-orient: vertical
      -webkit-box-orient: vertical
      display: -webkit-box
      -webkit-line-clamp: 2
      font-size: 24px
      color: #005b96
      margin-bottom: 15px
      max-height: 80px
      overflow: hidden

#post-quotebox-left.issues-archive
  height: 1000px

  .grid-container,
  .grid-x,
  .cell
    height: 100%

  .quotebox__container
    display: flex 
    justify-content: flex-start

  .quotebox 
    width: 18vw
    height: 14vw
    position: relative
    background-image: url(../assets/images/quotebox.png)
    background-repeat: no-repeat
    background-size: contain
    font-family: $font-sans 
    font-weight: bold
    font-size: 1.2vw
    line-height: 1.3
    

    .quote 
      width: 60%
      position: absolute
      top: 50% 
      left: 50% 
      transform: 
      color: $white
      -moz-transform: translate(-35%, -50%)
      -o-transform: translate(-35%, -50%)
      -webkit-transform: translate(-35%, -50%)
      transform: translate(-35%, -50%)
      filter: FlipH
      -ms-filter: "FlipH"

  .insights_box
    height: 100%
    position: relative
    overflow: hidden

    .insights_box_inner 
      width: 100%
      position: absolute
      left: 50%
      bottom: 0 
      padding: 0 5%
      transform: translateX(-50%)

    .insights__box__image 
      height: 100%

      img 
        object-fit: cover
        object-position: unset
        display: block
        width: 100%
        height: 100%

    .insights__box__title
      font-size: 1.75vw
      color: $white
      padding: 50px 0 100px

    .insights__box__category 
      position: absolute
      display: inline-block
      padding: 3px 10px
      background-color: $black
      font-family: $font-sans
      font-size: 12px
      color: #fff
      transform: translateY(-50%)
      text-transform: uppercase
      letter-spacing: 2px

    .insights__box__content 
      color: #fff
      box-orient: vertical
      -webkit-box-orient: vertical
      display: -webkit-box
      -webkit-line-clamp: 2
      font-size: 24px
      color: #005b96
      margin-bottom: 15px
      max-height: 80px
      overflow: hidden




































