#team 

  padding-bottom: 100px

  ul 
    list-style: none 
    padding: 0 15%

    li 
      margin-bottom: 50px

      img 
        margin-bottom: 20px

    h4, h6 
      font-family: 'Open Sans', Arial, sans-serif
      font-weight: normal 
      font-size: 18px
    
    h6 
      font-size: 12px

