#top-insights.gsm-home

  height: 1500px
  
  .section-title 
    color: $black
    font-family: $font-sans
    font-size: 90px
    text-transform: capitalize
    margin-bottom: 70px

  .insights__left,
  .insights__right 
    .insights_box
      position: relative
      overflow: hidden

      .insights_box_inner 
        width: 100%
        position: absolute
        left: 50%
        bottom: 0 
        padding: 0 5%
        transform: translateX(-50%)

      .insights__box__image 
        height: 100%

        img 
          object-fit: cover
          object-position: unset
          display: block
          width: 100%
          height: 50%

      .insights__box__title
        font-size: 1.75vw
        color: $black
        padding: 50px 0 100px

      .insights__box__category 
        position: absolute
        display: inline-block
        padding: 3px 10px
        background-color: $black
        font-family: $font-sans
        font-size: 12px
        color: #fff
        transform: translateY(-50%)
        text-transform: uppercase
        letter-spacing: 2px

      .insights__box__content 
        color: #fff
        box-orient: vertical
        -webkit-box-orient: vertical
        display: -webkit-box
        -webkit-line-clamp: 2
        font-size: 24px
        color: #005b96
        margin-bottom: 15px
        max-height: 80px
        overflow: hidden

  .insights__left 
    .insights_box_inner 
      .insights__box__title 
        color: $white

  .insights__right 

    .grid-container,
    .grid-x,
    .cell 
      height: 100%

    .insights_box 
      position: relative
      overflow: hidden
      background-color: #fff
      height: 100%

    .insights_box_inner 
      width: 100%;
      height: 50%;
      position: absolute;
      left: 50%;
      bottom: 0;
      padding: 0 10%;
      transform: translateX(-50%);
      background-color: #fff;

    .insights__box__image 
      height: 100%

      img 
        object-fit: cover
        object-position: unset
        display: block
        width: 100%
        height: 50%

      .insights__box__title 
        position: absolute
        color: $black
        padding: 50px 5%

      .insights__box__category 
        left: 5%

      .insights_box_inner 
        background-color: #fff
