#twitter-quote
  background-color: #ffc627
  background-repeat: no-repeat
  background-size: cover 
  background-position: center top

  .twitter-left 
    display: flex
    align-items: center

    .account-info 

      position: relative 
      
      strong,
      span 
        font-family: 'Open Sans', sans-serif
        font-size: 1.1vw

      span 
        display: inline-block
        font-size: 1vw

        &:first-of-type 
          margin-bottom: 2em

      &:before 
        content: url(../assets/images/twitter-logo.png)
        width: 46px
        height: 37px
        position: absolute
        top: 5%
        left: -70px

  .twitter-right
    display: flex 
    align-items: center

    p 
      font-size: 3vw
      font-family: $font-sans
      font-weight: bold
      line-height: 1.3