#watch-this 
  
  background-color: $black

  .section-title 
    color: $white
    font-family: $font-sans
    font-size: 90px
    text-transform: capitalize
    margin-bottom: 70px

  .video__holder 
    img 
      width: 75%
      max-width: 75%

  .copy 

    padding-right: 5%

    p 
      color: $white
      font-size: 25px
      margin-bottom: 50px

  .video__links 

    ul 
      list-style: none
      margin-left: 4.5em

      li 

        position: relative
        margin-bottom: 0
        font-family: $font-sans
        font-weight: 500
        font-size: 22px
        color: $white
        line-height: 1.3
        transition: .3s all ease-in-out
        padding: 20px 0

        &:before 
          width: 60px 
          height: 60px
          content: url(../assets/images/play.png)
          position: absolute
          font-family: dashicons 
          border-radius: 100%
          font-size: 24px 
          color $white
          top: 50%
          transform: translateY(-50%)
          left: -3em
          line-height: 1

        &:hover 
          &:before
            content: url(../assets/images/play-hover.png)

        &.active 
          &:before 
            content: url(../assets/images/play-hover.png)

          
