#wysiwyg-content.gsm-about

  h2 
    font-family: $font-sans
    font-size: 48px
    margin-bottom: 24px

  ul
    list-style: none
    padding-left: 1.5em
    margin-bottom: 1.5em

    li 
      position: relative 
      padding-top: 20px
      padding-bottom: 20px
      font-size: 20px

      &:last-child 
        padding-bottom: 20px

      &:before 
        content: ''
        width: 24px
        height: 24px
        position: absolute
        left: -3em
        top: 50%
        transform: translateY(-50%)
        background-image: url(/wp-content/themes/global-sport/assets/images/arrow-right.png)
        background-repeat: no-repeat

  p 
    font-size: 16px
    margin-bottom: 2em

  hr 
    margin-top: 70px
    margin-bottom: 70px

  .article-title 
    font-size: 60px 
    line-height: 1.1
    margin-bottom: .75em
    

  .article-info 
    margin-bottom: 1.5em

    span 
      font-family: $font-sans
      font-size: 16px 
      color: #666
      letter-spacing: 1px
      

    .author-bio 
      display: inline-block
      letter-spacing: 0
      font-family: $font-serif 
      font-size: 20px
      font-style: italic
      color: #666
      margin-bottom: 1.5em

      a 
        color: #666
        text-decoration: underline

    .issue-tags 
      display: inline-block
      margin-bottom: 1.5em