#footer 

  background: $black

  br 
    +breakpoint (large down) 
      display: none

  img 
    display: block
    margin-bottom: 2em

  .gsm-description 
    color: $white 
    display: inline-block
    margin-bottom: 3em
    font-family: 'Open Sans', sans-serif
    font-size: 13px
    line-height: 1.8

    .underline 
      text-decoration: underline

  .copyright 
    color: $white
    display: inline-block
    margin-bottom: 0
    font-family: 'Open Sans', sans-serif
    font-size: 13px

  .social 

    height: 100% 

    ul

      height: 100%
      display: flex 
      list-style: none
      justify-content: flex-end 
      align-items: center

    a 
      width: 80px 
      height: 80px 
      display: block
      background-position: left top 
      background-repeat: no-repeat 
      background-size: contain

      &.facebook
        background-image: url(/wp-content/themes/global-sport/assets/images/footer-facebook.png)

      &.instagram 
        background-image: url(/wp-content/themes/global-sport/assets/images/footer-instagram.png)

      &.twitter 
        background-image: url(/wp-content/themes/global-sport/assets/images/footer-twitter.png)

      &.youtube
        background-image: url(/wp-content/themes/global-sport/assets/images/footer-youtube.png)
