.header-nav 
  display: flex

  #access
    width: 75%
    display: flex 
    align-items: center
    justify-content: flex-end

    .menu 
      list-style: none
      margin-bottom: 0
      padding-bottom: 0

      li 

        a 
          color: $black
          font-family: $font-sans
          font-size: 1.2vw
