.header__nav_offcanvas

  visibility: hidden 
  opacity: 0 
  height: 0

.is-open 

  .nav-link 
    display: block 

  .header__nav_offcanvas
    content: ''
    width: 100% 
    height: 100vh
    position: fixed
    top: 120px
    left: 0
    background: $yellow
    opacity: 1
    visibility: visible
    padding-top: 180px
    z-index: 9998

    .gsm-issues-menu,
    .gsm-sections-menu 
      visibility: hidden
      opacity: 0
      height: 0

    .sections__menu 

      ul 
        columns: 2
        -webkit-columns: 2

        a 
          display: inline-block 
          font-family: neusa-next-std,sans-serif
          font-size: 2vw
          color: #202020
          font-weight: 700
          text-transform: capitalize
          line-height: 1
          text-decoration: none

    .current__issue
      margin-bottom: 5em

    h4 
      margin-bottom: 1.5em
      text-transform: uppercase
      font-family: $font-sans
      font-size: 1.2vw

    ul 
      flex-direction: column
      align-items: center
      list-style: none
      margin-left: 0

      li 

        margin-bottom: 3em

        a 
          font-family: $font-sans
          font-size: 2vw
          color: $black
          font-weight: bold
          text-transform: capitalize
          line-height: 1
          text-decoration: none
